body {
    background-image: url("images/Moon2.svg");

  }

  #create {
    border-color: #1d37fc;
    color: #f59797;
    
    box-shadow: 0 0 40px 40px #1d37fc inset, 0 0 0 0 #1d37fc;
    transition: all 150ms ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 #1d37fc inset, 0 0 10px 4px #1d37fc;
    }
  }
   

#deleteList{
    color: #ecdcdf;
    border-color:#fc1d4a;
    box-shadow: 0 0 40px 40px #fc1d4a inset, 0 0 0 0 #fc1d4a;
    transition: all 150ms ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 #fc1d4a inset, 0 0 10px 4px #fc1d4a;
      }
}

#update{
    color: #ecdcdf;
    background-color: #f331aff5;
    border-color: #f20bad;
    
    &:hover {
        box-shadow: 0 0 10px 0 #f20bad inset, 0 0 10px 4px #e0607a;
      }
}

#update_save{
    color: #fff;
    background-color: #05e17efe;
    border-color: #0bf2e6;
    
    &:hover {
        box-shadow: 0 0 10px 0 #0bf2e6 inset, 0 0 10px 4px #0bf2e6;
      }
}

#delete{
    color: #ecdcdf;
    background-color: #fc1d4a;
    border-color:#fc1d4a;

    &:hover {
        box-shadow: 0 0 10px 0 #fc1d4a inset, 0 0 10px 4px #e0607a;
      }
}

.star1 {
    height: 10px; 
    padding: 1px;
	animation: flashing 4s infinite;
}
@keyframes flashing {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.star2 {
    height: 20px;
	animation: flashing 3s infinite;
}
@keyframes flashing {
	0% {
		opacity: 1;
	}
	770% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.star3 {
    width: 10px;
    margin-top: 80px;
	animation: flashing 5s infinite;
}
@keyframes flashing {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fuwafuwa {
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    
    display: inline-block;
    transition: 1.5s ease-in-out;
    width: 70px;
    height: 70px;
    margin-top: 15px;
  }
   
  @keyframes fuwafuwa {
    0% {
      transform:translate(0, 0) rotate(-7deg);
    }
    50% {
      transform:translate(0, -7px) rotate(0deg);
    }
    100% {
      transform:translate(0, 0) rotate(7deg);
    }
  }

 
  .text {
    display: inline-block;
    font-size: 2rem;
    color: #f8f0f0;
    /*font-family: "Ryumin ExtraBold KL";*/
    font-family: 'Space Mono', monospace;
    letter-spacing: -0.15rem;
    animation: falling-text-animation 0.8s forwards;
    animation-duration: 1s;
    transform: translateY(-1rem);
    opacity: 0;
}

@keyframes falling-text-animation{
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}



.line-container {
    position: relative;
    width: 100%;
    height: 1px;
  }

  .line-container::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: aliceblue; 
    animation: expandLine 4s ease-out forwards;
  }

  @keyframes expandLine {
    0% {
      width: 0;
      left: 50%;
      transform: translateX(0);
    }
    50% {
      width: 100%;
      left: 0;
      transform: translateX(0);
    }
    100% {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }


  .scroll-container {
    height: 200px; 
    overflow-y: scroll; /* Add a vertical scrollbar */
    background-color: #d1f4fe27;    
    border-radius:30px;
    display:flex;
    justify-content: center;
    padding: auto;
 }


 #contact{
    color:aliceblue;  /*number of each row becomes this color*/
    
 }

  footer{
    color: aliceblue;
    background-color:rgba(0, 0, 0, 0.637);
    opacity: 40%;
    text-align: center;
    bottom: 0;
  }


  @media only screen and (max-width: 600px){
    footer{
      height: 200px;      
      padding: 5px; 
    }

    .scroll-container {
        height: 280px;  
        
        border-radius:17px;
        padding: 10px;
      
     }
}
@media only screen and (min-width: 601px){
    footer{
      height: 180px;
      padding: 10px;
    }

    .scroll-container {
        height: 280px;  
        border-radius:10px;
        padding: 10px;
        
      
     }
}

  @media only screen and (min-width: 1200px){
     footer {
      height: 180px;
      padding: 20px;      
     } 
    }